    <div class="container my-5 py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class=" g-0">
              <div class=" gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <div style="width: 150px; height: 150px;" class="mx-auto rounded-circle overflow-hidden">
                  <% if current_user.profile_picture.attached? %>
                    <%= image_tag current_user.profile_picture, alt: "Avatar", class: "", style: "width: 100%; height: 100%; object-fit: cover;"  %>
                  <% else %>
                    <img src="https://pixlok.com/wp-content/uploads/2021/10/Profile-Free-Icon.png"
                    alt="Avatar" class="" style= "width: 100%; height: 100%" />
                  <% end %>
                </div>
                <h5 style= "color: black"><%= current_user.name %></h5>
                <%= link_to "edit", edit_user_registration_path %>
              </div>
              <div class="">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Name</h6>
                      <p class="text-muted"><%= current_user.name %></p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted"><%= current_user.phone || "NA" %></p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted"><%= current_user.email %></p>
                    </div>
                    <%# <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">123 456 789</p>
                    </div> %>
                  </div>
                  <h6>Skills</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Recent</h6>
                      <%= form_with model: @profile, url: applicant_profile_path, method: :patch do |f| %>

                        <%= f.label :skills %>
                        <%= f.select(
                          :skills, 
                          options_for_select(ApplicantProfile::SKILLS),
                          { prompt: "Please select" },
                          multiple: true, required: true) %>
                        <%= f.submit "Update Skills" %>
                      <% end %>
                      <% YAML.load(@profile.skills).each do |skill| %>
                        <p class="text-muted"><%= skill %></p>
                      <% end %>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Most Viewed</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                  </div>
                  <h6>Resume</h6>
                  <%= form_with model: @profile, url: applicant_profile_path, method: :patch do |f| %>

                  <%= f.label :resume %>
                  <%= f.file_field :resume %><br>
                  <%#= @profile.resume.blob.filename %><br>
                  <% if @profile.resume.attached? %>
                    <%= link_to @profile.resume.blob.filename, rails_blob_path(@profile.resume.blob, disposition: 'preview'), target: "_blank" %>
                  <% end %>
                  <%= f.submit "Upload Resume" %>
                  <% end %>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Recent</h6>
                      <p class="text-muted">Lorem ipsum</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Most Viewed</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>