    <div class="container my-5 py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class=" g-0">
              <div class=" gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <div style="width: 150px; height: 150px;" class="mx-auto rounded-circle overflow-hidden">
                  <% if current_user.profile_picture.attached? %>
                    <%= image_tag current_user.profile_picture, alt: "Avatar", class: "", style: "width: 100%; height: 100%; object-fit: cover;"  %>
                  <% else %>
                    <img src="https://pixlok.com/wp-content/uploads/2021/10/Profile-Free-Icon.png"
                    alt="Avatar" class="" style= "width: 100%; height: 100%" />
                  <% end %>
                </div>
                <h5 style= "color: black"><%= current_user.name %></h5>
                <%= link_to "edit", edit_user_registration_path %>
              </div>
              <div class="">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Name</h6>
                      <p class="text-muted"><%= current_user.name %></p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted"><%= current_user.phone || "NA" %></p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted"><%= current_user.email %></p>
                    </div>
                    <%# <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">123 456 789</p>
                    </div> %>
                  </div>
                  <h6>Skills</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Recent</h6>
                      <%= form_with model: @profile, url: applicant_profile_path, method: :patch do |f| %>

                        <%= f.label :skills %>
                        <%= f.select(
                          :skills, 
                          options_for_select(ApplicantProfile::SKILLS),
                          { prompt: "Please select" },
                          multiple: true, required: true) %>
                        <%= f.submit "Update Skills" %>
                      <% end %>
                      <% YAML.load(@profile.skills).each do |skill| %>
                        <p class="text-muted"><%= skill %></p>
                      <% end %>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Most Viewed</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                  </div>
                  <h6>Resume</h6>
                  <%= form_with model: @profile, url: applicant_profile_path, method: :patch do |f| %>

                    <%= f.label :resume %>
                    <%= f.file_field :resume %><br>
                    <%#= @profile.resume.blob.filename %><br>
                    <% if @profile.resume.attached? %>
                      <%= link_to @profile.resume.blob.filename, rails_blob_path(@profile.resume.blob, disposition: 'preview'), target: "_blank" %>
                    <% end %>
                    <%= f.submit "Upload Resume" %>
                  <% end %>
                  <h6>Applications</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Recent</h6>
                      <% current_user.applications.each do |application| %>
                        <p class="text-muted"><%= application.job.title %></p>
                      <% end %>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Most Viewed</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="main-content">
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-image: url(https://raw.githubusercontent.com/creativetimofficial/argon-dashboard/gh-pages/assets-old/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello <%= current_user.first_name%></h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            <%= link_to "Edit Profile", edit_user_registration_path,class: "btn btn-info" %>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                  <!--
                    <img src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg" class="rounded-circle">
                  -->
                    <%= image_tag current_user.profile_picture, alt: "Avatar", class: "rounded-circle"  %>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                    <div>
                      <span class="heading"></span>
                      <span class="description"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  <%= current_user.name %><span class="font-weight-light"></span>
                </h3> 
                <hr class="my-4">
                <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                <a href="#">Show more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div>
              </div>
            </div>
            <div class="card-body bg-white">
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Name</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value=" <%=current_user.name%> " disabled>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" value=" <%= current_user.email%> " disabled>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Phone</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="<%= current_user.phone %>" disabled>
                      </div>
                    </div>
                    <!--
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-last-name">Last name</label>
                          <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Jesse">
                        </div>
                      </div>
                    -->
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Skills</h6>
                <div class="pl-lg-4">
                      <%= form_with model: @profile, url: applicant_profile_path, method: :patch do |f| %>

                        <%= f.label :skills %>
                        <%= f.select(
                          :skills, 
                          options_for_select( ApplicantProfile::SKILLS ),
                          { prompt: "Please select" },
                          multiple: true, required: true, style: "display: ;") %>
                        
                        <%#= f.select :skills, options_for_select(ApplicantProfile::SKILLS), {}, { data: { controller: 'slim', slim_target: 'field' } } %>
                        <%= f.submit "Update Skills" %>
                      <% end %>
                </div>
                <h6 class="heading-small text-muted mb-4">Skills</h6>
                <div class="pl-lg-4">
                  <ul>
                    <% YAML.load(current_user.applicant_profile.skills).each do |skill| %>
                      <li><%= skill %></li>
                    <% end %>
                  </ul>
                </div>
                <hr class="my-4">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Applications</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <p>Application</p>
                  </div>
                </div>
                <h6 class="heading-small text-muted mb-4">Applications</h6>
                <div class="pl-lg-4">
                
                    <%= form_with model: @profile, url: applicant_profile_path, method: :patch do |f| %>
                    <div class="mb-3">
                      <%= f.label :resume,class: "form-label", for:"customFile" %>
                      <div class="border rounded border-2 ">
                      <%= f.file_field :resume, style: "width: 100%;", id:"customFile" %>
                      </div>
                    </div>
                    <%= f.submit "Upload",  class: "btn btn-primary"%>
                    <% if @profile.resume.attached? %>
                      <%= link_to @profile.resume.blob.filename, rails_blob_path(@profile.resume.blob, disposition: 'preview'), target: "_blank", class: "btn btn-primary" %>
                    <% end %>
                      <%#= @profile.resume.blob.filename %>
                      <%# if @profile.resume.attached? %>
                        <%#= link_to @profile.resume.blob.filename, rails_blob_path(@profile.resume.blob, disposition: 'preview'), target: "_blank" %>
                      <%# end %>
                    <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>