<div class="row">
    <div class="col-12 col-md-12 mb-4">
    <div class="form-outline">
        <%= f.text_field :title, id: "form6Example1", class: "form-control" %>
        <%= f.label :title, class: "form-label", for: "form6Example1" %>
    </div>
    </div>
</div>

<!-- Text input -->
<div class="form-outline mb-4">
    <%= f.text_field :job_type, id: "form6Example3", class: "form-control" %>
    <%= f.label :job_type, class: "form-label", for: "form6Example3"%>
</div>

<!-- Text input -->
<div class="form-outline mb-4">
    <%= f.number_field :salary, id: "form6Example4", class: "form-control" %>
    <%= f.label :salary, class: "form-label", for:"form6Example4"%>
</div>

<!-- Email input -->
<div class="form-outline mb-4">
    <%= f.number_field :vacancies, id: "form6Example5", class: "form-control" %>
    <%= f.label :vacancies, class: "form-label", for: "form6Example5"%>
</div>

<!-- Number input -->
<%# <div class="form-outline mb-4">
    <input type="number" id="form6Example6" class="form-control" />
    <label class="form-label" for="form6Example6">Phone</label>
</div> %>

<!-- Message input -->
<div class="form-outline mb-4">
    <%= f.text_area :description,class: "form-control", id: "form6Example7", rows: "4"%>
    <%= f.label :description, class: "form-label", for: "form6Example7" %>
</div>

<!-- Submit button -->
<%= f.submit class: "btn btn-secondary btn-rounded btn-block" %>