<% @recruiter_applications.each do |application| %>
    <% application.applicant %>
        <%= application.job.title %>
        <%= application.applicant.name  %><br>
<% end %>

<div class="container">    
  <% @recruiter_applications.each do |application| %>
      <div class="my-2 row">
        <div class="col-3">
            <h5 class="card-title">Applicant Name</h5>
            <p class="card-text"><%= application.applicant.name %></p>
            <%# <a href="#" class="btn btn-primary">Show Details</a> %>
        </div>
        <div class="col-3 d-flex">
            <div class="w-50">
                <h6 class="card-title">Applied For</h6>
                <p class="card-text"><%= application.job.title %></p>
            </div>
            <div class="w-50">
                <h6 class="card-title">Resume</h6>
                <p class="card-text">
                <% if application.resume.attached? %>
                  <%= link_to application.resume.blob.filename, rails_blob_path(application.resume.blob, disposition: 'preview'), target: "_blank" %>
                <% else %>
                    NA
                <% end %>
                </p>
            </div>
        </div>
        <div class="col-3 d-flex">
            <div class="w-50">
                <h6 class="card-title">Status</h6>
                <p>Active</p>
            </div>

            <div class="w-50">
                <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                    <%#= button_to "Approve", recruiter_recruiter_application_accept(shop.id), method: :put %>
                    <%#= button_to "Disapprove", recruiter_recruiter_application_reject(shop.id), method: :put %>

                    <%#= link_to "Edit", edit_recruiter_recruiter_job_path(current_user,job) %>
                    <%#= link_to "Show", job_path(job) %>
                    <%#= link_to "Applications", recruiter_recruiter_applications_path(id: job.id) %>
                    <%#= link_to "Delete", recruiter_recruiter_job_path(current_user,job), method: :delete %>
                    </div>
                </div>
            </div>

        </div>
      </div>
  <% end %>
</div>