
<div class="container">
  <div class="row">
    <%= link_to "All",recruiter_recruiter_applications_path(id: params[:id]), class: "col-4 text-center" %>
    <%= link_to "Accept", recruiter_recruiter_applications_path(status: 'accepted', id: params[:id]), class: "col-4 text-center" %>
    <%= link_to "Reject", recruiter_recruiter_applications_path(status: 'rejected', id: params[:id]), class: "col-4 text-center" %>
  </div>    
</div>

<% if params[:status] == "accepted" %>
  <%= render partial: "accepted_applications" %>
<% elsif params[:status] == "rejected" %>
  <%= render partial: "rejected_applications" %>
<% else %>
  <%= render "all_applications" %>
<% end %>

