<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #1754D5; padding: 14px 0;">>
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
            <img src="https://www.gammastack.com/wp-content/uploads/2020/09/gammastack-logo-2.png" alt="" class="navbar-brand" style="filter: brightness(0) invert(1)!important; margin-top: -10px;">
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Your Jobs", recruiter_index_path, class: "nav-link", style: "color: #fff" %>
        </li>
        <li class="nav-item">
          <%= link_to "Post a Job", new_recruiter_recruiter_job_path(current_user), class: "nav-link", style: "color: #fff"  %>
        </li>
        <li class="nav-item">
          <%= link_to "Post a Job", new_recruiter_recruiter_job_path(current_user), class: "nav-link", style: "color: #fff"  %>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <div class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </div>
      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <%= image_tag current_user.profile_picture, alt: "Avatar", class: "rounded-circle", height: "35", width: "35", style: "object-fit: cover;", alt: "Black and White Portrait of a Man", loading: "lazy"  %>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <%= link_to "Profile", recruiter_profile_path(current_user), class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to "logout", destroy_user_session_path,class: "dropdown-item", method: :delete  %>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

 <script>
      profileBtn = document.getElementById("navbarDropdownMenuAvatar");
      profileBtn.addEventListener("click", () => {
        document.querySelector(".dropdown-menu").classList.toggle("animation")
      })
    </script>