<div class="my-2 row job__card">
    <div class="col-3">
        <h5 class="card-title"><%= job.title %></h5>
        <p class="card-text"><span>Location: </span><%= "location" %></p>
        <%# <a href="#" class="btn btn-primary">Show Details</a> %>
    </div>
    <div class="col-3 d-flex">
        <div class="w-50">
            <h6 class="card-title">Vacancies</h6>
            <p class="card-text"><%= job.vacancies %></p>
        </div>
        <div class="w-50">
            <h6 class="card-title">Applicants</h6>
            <p class="card-text"><%= job.count_applicants%></p>
        </div>
    </div>
    <div class="col-3 d-flex">
        <div class="w-100">
            <h6 class="card-title">Job Status</h6>
            <p><%= job.status %></p>
        </div>

        <!--
            <div class="w-50">
                <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                    <%= link_to "Edit", edit_recruiter_recruiter_job_path(current_user,job) %>
                    <%= link_to "Show", job_path(job) %>
                    <%= link_to "Applications", recruiter_recruiter_applications_path(id: job.id, recruiter_id: current_user) %>
                    <%= link_to "Delete", recruiter_recruiter_job_path(current_user,job), method: :delete %>
                    </div>
                </div>
            </div>
        -->

    </div>
    
    <div class="dropdown col-3">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
        <%= link_to "Edit", edit_recruiter_recruiter_job_path(current_user,job) %>
        <%= link_to "Show", job_path(job) %>
        <%= link_to "Applications", recruiter_recruiter_applications_path(id: job.id, recruiter_id: current_user) %>
        <%#= link_to "Delete", recruiter_recruiter_job_path(current_user,job), method: :delete, class: "jobcard__btn", remote: true %>
        <%= link_to "Delete", {}, class: "jobcard__btn", remote: true, id: "jobcard__btn" + job.id.to_s %>
        </div>
    </div>
</div>

<style>
label {
    display: block;
    margin-bottom: 10px;    
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #444;
}

select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

</style>

<script>
    console.log(`jobcard__btn${<%=job.id%>}`);
    deleteBtn = document.querySelector(`#jobcard__btn${<%=job.id%>}`)
    
    deleteBtn.addEventListener("click", (e) => {
        console.log(e.target.parentElement.parentElement.parentElement);
        
        e.target.parentElement.parentElement.parentElement.classList.add("removed");

        setTimeout(() => {
            e.target.parentElement.parentElement.parentElement.remove();
        }, 700);

        console.log( "recruiter/" + <%= current_user.id %> + "/recruiter_jobs/");
        console.log(this);
        jobId = this.getJobId();
        console.log(jobId);
        jobUrl = "recruiter/" + <%= current_user.id %> + "/recruiter_jobs/" + "<%=job.id%>";
        console.log(jobUrl);


        Rails.ajax({
            url: jobUrl,
            type: "delete",
        });
            
    })
    getJobId = () => {
        return <%= job.id %>
    }
</script>