<div class="my-2 row">
    <div class="col-4">
        <h5 class="card-title"><%= job.title %></h5>
        <p class="card-text"><span>Location: </span><%= "location" %></p>
        <%# <a href="#" class="btn btn-primary">Show Details</a> %>
    </div>
    <div class="col-4 d-flex">
        <div class="w-50">
            <h6 class="card-title">Vacancies</h6>
            <p class="card-text"><%= job.vacancies %></p>
        </div>
        <div class="w-50">
            <h6 class="card-title">Applicants</h6>
            <p class="card-text"><%= "dummy number" %></p>
        </div>
    </div>
    <div class="col-4 d-flex">
        <div class="w-50">
            <h6 class="card-title">Job Status</h6>
            <p>Active</p>
        </div>

        <div class="w-50">
            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                <%= link_to "Edit", edit_recruiter_recruiter_job_path(current_user,job) %>
                <%= link_to "Show", job_path(job) %>
                <%= link_to "Delete", recruiter_recruiter_job_path(current_user,job), method: :delete %>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
label {
    display: block;
    margin-bottom: 10px;    
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #444;
}

select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

</style>